.container{
    background-image: url("../../img/Image PlaceHolder (12).png");
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
}
.connect-contaner{
    display: flex;
    justify-content: space-between;
    margin: -60px 150px 40px 150px;
    color: white;
    align-items: center;
}
.connect-img{
    width: 120px;
    height: 120px;
}
.connect-page-right{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.connect-block-row{
    display: flex;
    gap: 40px;
}
.connect-page-left{
    margin-top: -100px;
    gap: 20px;
    display: flex;
}
.connect-block-1-left{
    cursor: pointer;
    padding: 15px 30px;
    background-color:
    #A259FF;
    gap: 10px;
    display: flex;
    border-radius: 20px ;
}
.connect-block-2-left{
    cursor: pointer;
    transition: .4s;
    border-radius: 20px ;
    padding: 15px 30px;
    gap: 10px;
    display: flex;
    border: 1px solid #A259FF;

}
.connect-page-center h2 , .connect-icon-text h2{
    color: #858584;
}
.connect-page-center{
    display: flex;
    gap: 10px;
    flex-direction: column;
}
.connect-icon{
    display: flex;
    gap: 10px;
    padding-top: 10px;
}
.connect-block{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.connect-block-2-left:hover{
    background-color: #A259FF;
}


.cart-block-page:hover {
    transform: translateY(-10px);
  }
  .cart-block-page img {
    width: 100%;
  }
  .cart-block-page {
    cursor: pointer;
    transition: 0.4s;
    background-color: 
    #2B2B2B;
    border-radius: 20px;
    width: 100%;
  }


.filtir-page h2{
    cursor: pointer;
}
.filter-container{
    padding: 0 150px ;
    color: white;
    border-top: 1px solid 
    #3B3B3B;
}
.filtir-page{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 40px ;
    padding: 0px 150px;
}
.filtir-page-h2 p{
    padding: 5px 10px;
    border-radius: 45%;
    background-color: #858584
}
.filtir-page-h2{
    display: flex;
    gap: 10px;
    align-items: center;
    position: relative;
}
.filtir-page-h2-none p{
    padding: 5px 10px;
    border-radius: 45%;
    background-color:#3B3B3B
}
.filtir-page-h2-none{
    display: flex;
    gap: 10px;
    align-items: center;
    opacity: 0.6;
}
.filtir-page-h2::after{
    width: 100%;
    height: 1px;
    content: '';
    width: 200%;
    left: -40%;
    bottom: -20px;
    border-bottom: 2px solid;
    position: absolute;
}



/* ----single----- */
.single-img img{
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 400px;
}
.single-container-text{
    padding: 40px 150px;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.single-Details{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.single-icon{
    display: flex;
    gap: 10px;
    align-items: center;
}
.single-item p , .single-title h3 , .single-Details h3{
    color:
    #858584;
}
.single-item h1{
    font-size: 3rem;
}
.single-item{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.single-title{
    display: flex;
    flex-direction: column;
    gap: 10px;
}