.hero-container {
  width: 100%;
  max-width: 1900px;
  padding: 40px 150px;
  color: white;
  display: flex;
  gap: 50px;
  justify-content: space-between;
}
.hero-left {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.hero-icon:hover {
  background-color: #402661;
}
.hero-icon {
  transition: 0.3s;
  cursor: pointer;
  margin: 10px 0;
  padding: 15px 40px;
  background-color: #a259ff;
  border-radius: 20px;
  display: flex;
  width: fit-content;
  gap: 10px;
  align-items: center;
}
.hero-left h1 {
  font-weight: 700;
  font-size: 4.5rem;
}
.hero-left {
  width: 100%;
  max-width: 500px;
}
.hero-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-block h2 {
  font-weight: 700;
}
.hero-block {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.hero-right-block {
  margin-top: -10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #3b3b3b;
  padding: 20px;
}
.hero-right-block-row {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

/* -----section-container----- */
.section-container {
  align-self: center;
  width: 100%;
  max-width: 1900px;
  display: flex;
  flex-direction: column;
  padding: 80px 150px;
  color: white;
  gap: 50px;
}
.cart-cntent-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 30px;
}
.section-top-text p {
  font-size: 24px;
}
.section-img {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.section-top-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-top-text h2 {
  font-size: 2.2rem;
}
.section-img-block img {
  transition: 0.4s;
  width: 100%;
}
.section-img-block img:hover {
  transform: translateY(-10px);
}
.section-img-block {
  cursor: pointer;
  width: 100%;
  max-width: 320px;
}
.setion-img-row img {
  width: 100%;
}
.setion-img-row {
  gap: 10px;
  display: flex;
}
.setion-img-row {
  margin-top: 10px;
  width: 32%;
}
.section-text-row {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.section-img-text-row {
  display: flex;
  gap: 10px;
  align-items: center;
}
.section-img-text-row img {
  width: 100%;
  max-width: 30px;
  border-radius: 50%;
}

/* -----card----- */
.cart-container {
  width: 100%;
  max-width: 1900px;
  padding: 100px 150px;
}
.cart:hover {
  transform: translateY(-10px);
  background-color: #2b2b2b;
}
.cart {
  cursor: pointer;
  transition: 0.5s;
  position: relative;
  border-radius: 20px;
  color: white;
  text-align: center;
  padding: 20px 40px 40px 40px;
  background-color: #3b3b3b;
}
.cart-content {
  width: 100%;
  gap: 10%;
  display: flex;
}
.cart-top-row {
  display: flex;
  gap: 20px;
}
.cart h2 {
  position: absolute;
  top: 10px;
  left: 10px;
}
.cart h2 {
  width: fit-content;
  padding: 5px 10px;
  font-size: 14px;
  color: #858584;
  border-radius: 50%;
  background-color: #2b2b2b;
}
.cart h3 {
  padding: 10px 0;
}
.cart-text-row {
  display: flex;
  gap: 10px;
}
.cart-p {
  color: #858584;
}

.section-cart-top-text {
  align-items: center;
  padding: 40px 0;
  color: white;
  gap: 20px;
  display: flex;
  justify-content: space-between;
}
.section-text-left p {
  font-size: 1.4rem;
  padding-top: 10px;
}
.section-text-right:hover {
  background-color: #a259ff;
}
.section-text-left h2 {
  font-size: 2.8rem;
}
.section-text-right {
  width: fit-content;
  height: fit-content;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid;
  display: flex;
  gap: 10px;
  align-items: center;
  border-color: #a259ff;
  border-radius: 20px;
  padding: 15px 40px;
}

/* -----section-cart-2--- */
.content-big-container {
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.container-content-block {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.section-home-cart {
  padding: 50px 150px;
}
.content-block:hover .icon-img {
  bottom: 40px;
  height: auto;
  opacity: 0;
  overflow: hidden;
  transition: 0.5s;
}
.content-block:hover .section-image {
  filter: blur(0);
}
.section-image {
  transition: 0.3s;
  filter: blur(4px);
  width: 100%;
}
.content-block {
  cursor: pointer;
  transition: 0.7s;
  position: relative;
  background-color: #3b3b3b;
  width: 100%;
  min-width: 150px;
  max-width: 250px;
  border-radius: 20px;
}
.content-block h2 {
  padding: 10px 10px 20px 10px;
}
.icon-img {
  bottom: 120px;
  height: auto;
  left: 30%;
  width: 100px !important;
  position: absolute;
}

/* -----section-CartBlock----- */
.section-cart-block{
  padding: 0px 30px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
}
.section-cartblock-col{
  background-color:#3B3B3B;
  padding: 50px 0;
  width: 100%;
  max-width: 1900px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.section-cartblock {
  width: 100%;
  max-width: 1900px;
  color: white;
  display: flex;
  justify-content: space-between;
  gap: 50px;
}
.cart-block-page:hover {
  transform: translateY(-10px);
}
.cart-block-page img {
  width: 100%;
}
.cart-block-page {
  cursor: pointer;
  transition: 0.4s;
  background-color: #3b3b3b;
  border-radius: 20px;
  width: 100%;
  max-width: 300px;
}
.cart-min-block {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 30px;
}
.cart-img-row img {
  width: 20px !important;
  height: 20px !important;
  border-radius: 50%;
}
.cart-img-row {
  align-items: center;
  display: flex;
  gap: 10px;
}
.block-space-between {
  padding-top: 20px;
  padding-bottom: 10px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}
.block-item {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.aside {
  padding: 100px;
  display: flex;
  position: relative;
  background-image: url("../../img/Image PlaceHolder (12).png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 500px;
}
.aside-left h1 {
  font-size: 4rem;
  color: white;
}
.aside-left {
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  bottom: 80px;
}
.aside-button a:hover {
  background-color: #a259ff;
  color: white;
}
.aside-button a {
  cursor: pointer;
  transition: 0.4s;
  align-items: center;
  width: fit-content;
  background-color: white;
  display: flex;
  gap: 10px;
  color: black;
  padding: 15px 30px;
  border-radius: 13px;
}
.aside-right {
  color: white;
  backdrop-filter: blur(4px);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  right: 40px;
  bottom: 80px;
  background-color: #3b3b3b5e;
  padding: 30px;
}
.aside-date {
  position: relative;
  z-index: 1000;
  align-items: center;
  display: flex;
  gap: 20px;
}
.aside-page-date {
  position: relative;
  z-index: 10000;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.aside-page-date h2 {
  font-size: 2.2rem;
}
.aside-item {
  font-size: 1.5rem;
  margin-top: -20px;
}

/* ----cart-container-3----- */
.cart-big-container-3 {
  padding: 40px 150px;
}
.cart-container-big-3 {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1900px;
  gap: 30px;
}
.cart-container-3 img {
  max-width: 250px;
  width: 100%;
}
.cart-container-3 {
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 20px;
  text-align: center;
  padding: 40px;
  background-color: #3b3b3b;
}

/* ----messaje----- */
.container-messaje {
  margin: 50px 150px;
  color: white;
  background-color: #3b3b3b;
  display: flex;
  gap: 60px;
  border-radius: 20px;
  padding: 40px;
}
.messaje-row {
    margin-top: 30px;
  display: flex;
}
.messaje-row  input{
    outline: none;
    border-radius: 20px ;
    padding: 10px 40px 10px 10px;
}
.container-messaje-block h1{
    width: 100%;
    max-width: 350px;
    font-size: 2.2rem;
}
.container-messaje-block p{
    font-size: 20px;
    line-height: 30px;
    width: 100%;
    max-width: 300px;
}
.messaje-icon {
    display: flex;
    gap: 10px;
    align-items: center;
    cursor: pointer;
    position: relative;
    left: -40px;
    padding: 15px 40px;
    border-radius:20px;
    background-color: 
    #A259FF;
  display: flex;
}
.container-messaje-block{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cart-contaner-4-4{
  display: flex;
  gap: 40px;
  width: 100%;
}
.cart-container-page-4-4{
  display: flex;
  gap:8%;
  width: 100%;
  justify-content: space-between;
}


.day-hours-block , .minut-secund{
  display: flex;
  align-items: center;
  gap: 20px;
}

@media(max-width:1250px){
  .hero-container , .section-container , .section-home-cart , .cart-container , .cart-big-container-3 {
      padding: 40px 60px;
    }
    .container-messaje{
      margin: 40px 60px;
  }

}
@media(max-width:1000px){
  .aside-left{
    top: 20px;
  }
  .hero-right{
    display: none;
  }
  .hero-left{
    text-align: center;
    width: 100%;
    max-width: 100%;
    align-items: center;
  }
  .hero-page{
    padding-top: 20px;
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
  }
  .cart-contaner-4-4{
    flex-direction: column;
  }
  .cart-content{
    justify-content: center;
    align-items: center;
  }
  .cart-container-page-4-4{
    padding-top: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .content-big-container {
    gap: 10%;
    justify-content: center;
  }
  .container-messaje img{
    display: none;
  }
  .container-messaje-block{
    width: 100%;
    text-align: center;
    align-items: center;
}

}
@media(max-width:850px){
  .section-cart-block{
    flex-direction: column;
  }
  .section-cartblock{
    flex-direction: column;
    align-items: center;
  }
  .cart-container-big-3{
    flex-direction: column;
    align-items: center;
  }
  .cart-container-3{
    max-width: 350px;
    width: 100%;
  }
  
}
@media(max-width:750px){

  .aside-left{
    top: 50px;
  }
  .aside-left h1{
    font-size: 30px;
  }
  .section-img{
    flex-direction: column;
    align-items: center;
  }
  .aside-date h2 , .aside-date h4{
    font-size: 25px;
  
  }
  .day-hours-block , .minut-secund{
    display:flex;
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
  }
  .aside-item{
    display: none;
  }
 .aside-right{
  max-width: 260px;
  width: 100%;
  bottom: 20px;
    left: 20px;
  }
  .aside-left{
    left: 40px;
  }

  .messaje-row{
    display: flex;
    flex-direction: column;
  }
  .messaje-icon , .messaje-row input{
    padding: 10px 30px;
    left: 0;

  }
  .section-cart-top-text{
    flex-direction: column;
    gap: 30px;
  }
  .hero-left h1{
    font-size: 35px;
  }
  
}
@media(max-width:450px){
  .hero-container , .section-container , .section-home-cart , .cart-container , .cart-big-container-3 {
    padding: 40px 20px;
  }
  .cart-content{
    gap: 5px;
  }
  .content-big-container{
    flex-direction: column;
    align-items: center;
  }
  .container-messaje{
    margin: 40px 20px;
}
  .cart{
    padding: 20px;
  }
}





