.ranking-top-text{
    display: flex;
    flex-direction: column;
    padding: 40px 150px;
    gap: 10px;
    color: white;
}
.ranking-top-text h1{
    font-size: 3rem;
}
.ranking-top-text p{
    font-size: 1.5rem;
}
.active-tab::after{
    position: absolute;
    bottom: -10px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: white;
    content: '';
}
.active-tab{
    position: relative;
    color: white;
}
.ranking-container h2{
    cursor: pointer;
    padding: 0 40px;

}
.ranking-container{
    padding: 40px 150px;
    display: flex;
    justify-content: space-between;
}
.none-active{
    color:#858584;
}
.ranking-data-top-text{
    margin: 30px 150px;
    color: 
    #858584;
    justify-content: space-between;
    display: flex;
    padding: 15px 50px;
    border-radius: 30px;
    border: 1px solid 
    #3B3B3B;
}
.p-element{
    padding-right: 20px;
}
.ranking-left-data-text{
    display: flex;
    align-items: center;
    gap: 30px;
}
.ranking-right-data-text{
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    display: flex;
    gap: 30px;
}
.renking-data-block{
    align-items: center;
    border-radius: 30px;
    background-color: #3B3B3B;
    margin: 30px 150px;
    justify-content: space-between;
    display: flex;
    padding: 10px 50px;
    color: white;
}
.data-left h3{
    color:#858584;
}
.color-p{
    color: 
    #00AC4F;
}
.data-img-text{
    align-items: center;
    display: flex;
    gap: 20px;
}
.data-img-text img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}
.data-left{
    display: flex;
    align-items: center;
    gap: 15px;
}
.data-right{
    width: 100%;
    max-width: 500px;
    justify-content: space-between;
    display: flex;
    gap: 30px;
}
@media(max-width:1150px){
    .ranking-top-text{
        padding: 40px ;
    }
    .ranking-container{
        padding: 40px;
    }
    .ranking-data-top-text , .renking-data-block{
        margin: 30px 40px;
    }
}