body{
    background-color:#2B2B2B;
}
*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    color: white;
    text-decoration: none;
}

/* ---header--- */
.Header-container{

    align-items: center;
    display: flex;
    justify-content: space-between;
    color: white;
    padding: 20px 40px;
}
.header-left{
    font-weight: 700;
    align-items: center;
    display: flex;
    gap: 10px;
}
.header-left img{
    width: 50px;
    height: 50px;
}
.header-right{
    align-items: center;
    display: flex;
    gap: 60px;
}
.sing-up{
    color: white;
    font-size: 18px;
    align-items: center;
    background-color: #A259FF;
    padding: 15px 20px;
    border-radius: 20px;
    display: flex;
    gap: 10px;
}

/* 
----NavBar--- */
.Navbar ul{
    display: flex;
    gap: 30px;
}
.Navbar ul a{
    font-weight: 700;
    font-size: 20px;
    color: white ; 
    text-decoration: none;
}

/* ---footer---- */
.footer-big-container{
    background-color:#3B3B3B;
    padding: 50px 100px;
    color: white;
}
.footer-contaiiner{
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}
.footer-left p , .footer-center p , .footer-right p{
    opacity: 0.7;
}
.footer-center a{
    opacity: 0.7;
    color:white;
}
.footer-right h2{
    letter-spacing: 2px;
}
.footer-left{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-left-icon img{
    cursor: pointer;
}
.footer-left-icon{
    display: flex;
    gap: 10px;
}
.footer-left-block-top{
    display: flex;
    gap: 10px;
    align-items: center;
}
.footer-center{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-right{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.footer-input{
    display: flex;
}
.footer-input input{
    padding:20px 60px 20px 30px;
    border-radius: 20px;
    outline: none;
    border: none;
}
.footer-input button{
    padding: 20px  30px;
    border-radius: 20px;
    outline: none;
    border: none;
}
.footer-input button{
    cursor: pointer;
    position: relative;
    left: -50px;
    background-color:#A259FF;
    color: white;
}
.footer-right p{
    width: 100%;
    max-width: 270px;
}
/* ----footer-end----- */
.footer-end{
    color:#CCCCCC;
    margin-top: 30px;
    padding-top: 20px;
    border-top:1px solid#858584;
}
.CiMenuFries{
    display: none;
}
.close{
    display: none;
}
.footer-left-block{
    display: flex;
    gap: 40px;
}
@media(max-width:1150px){
    .footer-big-container{
        padding: 20px 40px;
    }
    .footer-contaiiner{
        flex-direction: column;
        gap: 50px;
    }
    .footer-left-block{
        gap: 100px;
    }
}
@media(max-width:1050px){
    .Navbar.navbar ul{
        transition: .4s;
        flex-direction: column;
        padding: 100px;
    }
    .Navbar.navbar{
        z-index: 1000;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        background-color: #3B3B3B;
        width: 100%;
        height: 100%;
        transition: .4s;
        position: fixed;
        right: 0;
        left: 0;
        top: 0%;
    }
    .close{
        cursor: pointer;
        display: flex;
        font-size: 20px;
        padding-right: 60px;
    }
    .sing-up{
        display: none;
    }
    .header-right{
        gap: 0;
    }
    .Navbar.none{
        position: absolute;
       top: -100%;
    }
    .CiMenuFries{
        cursor: pointer;
        font-size: 20px;
        display: flex;
    }
}
@media(max-width:650px){
    .footer-left-block {
        flex-direction: column;
        gap: 40px;
    }
    .footer-right{
        width: 100%;
        max-width: 200px;
    }
}
@media(max-width:400px){
    .footer-input{
        flex-direction: column;
    }
    .footer-input button {
        left: 0;
    }
}